@font-face {
    font-family: "roboto";
    src: url(./fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "bebas";
    src: url(./fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    width: 100%;
}


header {
    background-color: #fff9f4;
    color: #fff;
    padding: 13px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: "roboto";
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 500px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 19px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .9);
}

.logo img {
    width: auto;
    height: 30px;
    margin-right: 10px;
}


.logo>span {
    font-weight: bold;
    color: #ff8367;
}

/* Hamburger */
#menu-toggle {
    display: none;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
    display: none;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px 12px;
    border-radius: 4px;
}

.hamburger>i {
    color: rgba(0, 0, 0, .55);
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
    font-size: 16px;
}

nav ul li a {
    color: rgba(0, 0, 0, .55);
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    font-size: smaller;
}

nav ul li a:hover {
    color: rgba(0, 0, 0, .65);
    border-radius: 4px;
}


nav ul li:first-child a {
    color: black;
}



/* Middle Content */
#main {
    background-color: #fff9f4;
    max-height: fit-content;
    padding-bottom: 60px;
}

.product-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.product-image img {
    width: 625px;
    border-radius: 10px;
}

.product-content h1 {
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: 100;
    color: #363958;
}

.product-content>h1>span {
    color: #ff8367;
}

.product-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #363958;
}

.product-content {
    font-family: "bebas";
    width: 35%;
}

.product-content button {
    padding: 13px 8px;
    font-size: 15px;
    background-color: #3D4FF3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-content button:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}




/* card section */


.heading {
    width: 100%;
    max-width: 1200px;
    margin: 40px 0px 0px 25px;
    padding: 0 30px;
    color: #25305B;
    font-family: "bebas";
}

.heading>h1 {
    font-weight: 100;
    font-size: 55px;
}

/* CONTAINER */
.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 30px 60px;
    flex-wrap: wrap;
}

/* MAIN CARD */
.card {
    width: 408px;
    background: #fff;
    border-radius: 20px;
    padding: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.img-box {
    background: #f1f1f1;
    padding: 25px;
    border-radius: 16px;
    text-align: center;
}

.img-box img {
    width: 100%;
    height: 255px;
    object-fit: contain;
}

.card-content h2 {
    margin: 18px 0 8px;
    color: #25305B;
    font-family: "roboto";
}

.card-content p {
    font-size: 15px;
    color: #212529;
    line-height: 1.5;
    font-family: "roboto";
}

.price-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    font-family: "roboto";
}

.price-btn span {
    color: #ff6a4a;
    font-size: 26px;
    font-weight: bold;
}

.price-btn button {
    padding: 15px 15px;
    background-color: #3D4FF3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.price-btn button:hover {
    background: #1e40af;
}




/* RESPONSIVE (MOBILE PERFECT) */
@media (max-width:900px) {
    .heading {
        text-align: center;
        font-size: 32px;
        padding: 0 15px;
    }

    .card-container {
        padding: 20px;
    }

    .card {
        width: 100%;
        max-width: 420px;
    }
}


/* 1199px FIX */
@media (max-width:1199px) {

    .heading {
        max-width: 1000px;
        font-size: 36px;
        padding: 0 5px;
        margin: 30px auto 15px;
    }

    .card-container {
        gap: 20px;
        padding: 10px 20px 40px;
        justify-content: center;
    }

    .card {
        width: 320px;
    }

    .img-box img {
        height: 230px;
    }
}


@media (max-width:1440px) {
    .heading {
        max-width: 1300px;
        margin: 38px 0px 0px 60px;
        text-align: left;
        font-size: 28px;
        padding: 0 15px;
    }
}


@media (max-width:1400px) {
    .heading {
        max-width: 1400px;
        margin: 38px 0px 0px 43px;
        text-align: left;
        font-size: 28px;
        padding: 0 15px;
    }
}

@media (max-width:1343px) {

    .heading {
        max-width: 1330px;
        font-size: 40px;
        margin: 38px 0px 0px 0px;
        padding: 0 28px;
        text-align: center;
    }
}







/* 1039px FIX (tablet landscape area) */
@media (max-width:1039px) {

    .heading {
        max-width: 1225px;
        font-size: 34px;
        padding: 0px;
    }

    .card-container {
        gap: 18px;
        padding: 10px 20px 40px;
        justify-content: center;
    }

    .card {
        width: 300px;
    }

    .img-box img {
        height: 220px;
    }

    .cardthree {
        font-size: 23px;
    }
}



@media (max-width:900px) {
    .section-title {
        text-align: center;
        font-size: 28px;
        padding: 0 15px;
    }
}




@media (max-width:907px) {

    .card-container {
        gap: 14px;
        padding: 10px 14px 32px;
        justify-content: center;
    }

    .card {
        width: 280px;
        padding: 14px;
    }

    .img-box img {
        height: 205px;
    }
}



@media (max-width:975px) {

    .heading {
        max-width: 1000px;
        font-size: 30px;
        padding: 0px;
    }

    .card-container {
        gap: 16px;
        padding: 10px 18px 35px;
        justify-content: center;
    }

    .card {
        width: 280px;
    }

    .img-box img {
        height: 210px;
    }

    .cardthree {
        font-size: 21.09px;
    }
}




/* Medium screens: 1290px and below */
@media (max-width: 1290px) {


    header {
        padding: 12px 20px;
        gap: 100px;
    }

    #main {
        height: 178vh;
        padding-bottom: 0px;
    }

    nav ul {
        gap: 30px;
    }

    .product-section {
        gap: 30px;
        padding: 30px;
    }

    .product-content {
        width: 50%;
    }

    .product-image img {
        width: 480px;
    }

    .product-content h1 {
        font-size: 80px;
    }

    .product-content p {
        font-size: 15px;
    }

    .hamburger {
        display: none;
    }

}


@media (max-width: 929px) {

    .product-content h1,
    .product-content h2 {
        font-size: 50px;
    }

    .product-content p {
        font-size: 13px;
    }

    .product-content {
        width: 160%;
    }

    .product-image img {
        width: 90%;
    }
}


/* Mobile & tablet responsive */

@media (max-width: 768px) {

    header {
        justify-content: space-between;
        gap: 0px;
        padding: 10px 33px;
    }

    .hamburger {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff9f4;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    nav ul {
        flex-direction: column;
        gap: 0;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        display: block;
        padding: 12px 0;
    }

    #menu-toggle:checked~nav {
        max-height: 500px;
    }


    .product-section {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .product-content {
        width: 60%;
        text-align: left;
        color: #fff;
        padding: 15px;
        border-radius: 5px;

    }

    .product-content h1,
    .product-content h2 {
        text-align: left;
        font-size: 80px;
        margin-bottom: 0px;
    }

    .product-content p {
        text-align: justify;
        font-size: 14px;
        letter-spacing: 0.6px;
    }


    #main {
        height: auto;
        padding-bottom: 0px;
    }


    .product-image {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .product-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .product-content button {
        display: inline-block;
        margin: 0px;
        float: left;
    }
}